@use 'shared/styles/theme' as *;

.table-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: $base-container-spacing;

  .table-header .table-header-row .table-header-cell {
    padding: 1rem;
    background-color: $primary-main;

    .table-header-cell-content {
      color: $text-light;
      font-size: 0.75rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .table-body .table-body-cell {
    padding: 1rem;

    .table-body-cell-content {
      font-size: 0.875rem;
    }
  }
}
