@use 'shared/styles/theme' as *;

.welcome {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  padding: $base-container-spacing;

  .welcome-title {
    color: $primary-main;
    font-weight: 700;
  }
}
