<header class="topbar">
  <a class="topbar-logo-link" routerLink="/">
    <img alt="Kaufmann" class="topbar-logo" src="images/isotipo.png" />
    <span *appResponsive="'up:md'" class="topbar-logo-name">Administrador de usuarios</span>
  </a>

  <div (click)="handleToggleSidebar()" *appResponsive="'down:xl'" class="topbar-menu--toggle">
    <ng-icon name="menuIcon" size="1.5rem" />
  </div>

  <div
    (mouseenter)="handleProfileHover(true)"
    (mouseleave)="handleProfileHover(false)"
    class="topbar-profile"
  >
    <span class="topbar-profile-name">
      {{ profileName }}
    </span>

    <ng-icon name="userAccountIcon" size="2rem" />

    <div [class.topbar-dropdown--show]="dropdownOpen" class="topbar-dropdown">
      <ul class="topbar-dropdown-list">
        <li class="topbar-dropdown-item">
          <button class="btn btn-primary w-100" (click)="handleLogout()">
            <ng-icon name="logoutIcon" />
            Cerrar Sesión
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
