<div class="table-container table-responsive">
  <table class="table table-content table-hover table-striped">
    <thead class="table-header">
      <tr class="table-header-row">
        @for (item of headers; track $index) {
          <th class="table-header-cell">
            <div class="table-header-cell-content">
              {{ item.label }}
            </div>
          </th>
        }

        <th class="table-header-cell">
          <div class="table-header-cell-content">Acciones</div>
        </th>
      </tr>
    </thead>

    <tbody class="table-body">
      @for (item of data; track $index) {
        <tr class="table-row">
          @for (header of headers; track header.key) {
            <td class="table-body-cell">
              <div class="table-body-cell-content">
                {{ item[header.key] }}
              </div>
            </td>
          }

          <td class="table-body-cell">
            <div class="table-body-cell-actions">
              <div (click)="handleShow(item)" class="table-body-cell-action">
                <ng-icon name="viewIcon" size="0.875rem" />
                <span>Ver detalle</span>
              </div>

              <div (click)="handleEdit(item)" class="table-body-cell-action">
                <ng-icon name="editIcon" size="0.875rem" />
                <span>Editar</span>
              </div>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
